
body{
	font-family: 'Playfair Display', serif;

}
#assinatura{
	font-style: italic;
	
}
#divMenu{
	text-align: center;
	text-anchor: middle;
}

#divForm{
	font-weight: bold;
	border:  groove  rgb(160, 160, 173);
	border-radius:10%;




}


#fundoIndex{
	
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	opacity: 1;
	background-image: url("../image/fundo.jpg") ;
	background-repeat: no-repeat;

	
	
}


ul li {
	
	list-style-type: none; 
	display: inline;
	padding: 13px 10px 10px 10px;
	background-color: black;
	color: white;
	font-size: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	cursor:pointer;
}

ul li a{
	font-size: 20px;
	color:white;
	text-decoration: none;
}
ul li:hover{
	background-color: red;
}
#menu{
	font-size: 35px;
	margin: 70px 400px;
}
h1 {
	font-weight: bold;
	font-size: 65px;
	color: black;
	text-shadow: black 0.1em 0.1em 0.2em;

}
#circuloTexto{

border-radius:15%;
-moz-border-radius:15%;
-webkit-border-radius:15%;
margin-left: 80px;
width: 1200px;
height: 750px;
background-color: rgba(255,255,255,.6); ;


}
#circuloTextoCadastro{

border-radius:15%;
-moz-border-radius:15%;
-webkit-border-radius:15%;
margin-left: 80px;
width: 1200px;
height: 750px;
background-color: rgba(255,255,255,.6); ;


}



table.comBordaSimples {
    border-collapse: collapse; /* CSS2 */
    background: #FFFFF0;
}
 
table.comBordaSimples td {
    border: 1px solid black;
}
 
table.comBordaSimples th {
    border: 1px solid black;
    background: #F0FFF0;
}